astroid==2.3.3
attrs==19.3.0
bottle==0.12.17
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
cytoolz==0.10.1
eth-hash==0.2.0
eth-keys==0.3.1
eth-typing==2.2.1
eth-utils==1.8.4
hexbytes==0.2.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
marshmallow==2.20.5
mccabe==0.6.1
more-itertools==8.2.0
packaging==20.3
platformio==4.1.0
pluggy==0.13.1
py==1.8.1
pycryptodome==3.9.7
pyelftools==0.25
pylint==2.4.4
pyparsing==2.4.6
pyserial==3.4
pytest==5.4.1
requests==2.22.0
semantic-version==2.8.2
six==1.14.0
tabulate==0.8.6
toolz==0.10.0
typed-ast==1.4.1
urllib3==1.26.5
wcwidth==0.1.8
wrapt==1.11.2
